body {
    font-family: "Noto Sans Gothic", serif;
    margin: 0 auto;
}

/*Navbar Container*/
.navbar {
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: url("../images/a.jpeg");
    /*background: url("../images/background.png");*/
    border-bottom: solid black 4px;
}

/*Navbar Title/Logo Properties*/
.titleImage {
    width: 200px;
    height: 100px;

    margin-left: 2.5%;
}

/*Navbar Links Properties*/
.navbar-links {
    display: flex;
    align-items: center;

    list-style: none;

    font-size: 20px;
    margin-right: 50px;
}

.navbar-links li {
    color: black;
    font-size: 25px;
    font-weight: bolder;

    padding: 20px 30px 20px 30px;
    margin-right: 10px;

    border-bottom: solid #492e69 5px;
}

.navbar-links li:hover {
    background-color: #572665;
    color: white;
    border-radius: 10%;

    transform: scale(1.1);

    border: solid #caaa9d 1px;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}