html {
    height: 100%;
    /*background-color: black;*/
    background: url("../images/background.png");
    font-family: "Arial Rounded MT Bold", serif;
}

/*Home Page*/
.mainContainer {
    display: flex;
    justify-content: center;

    padding: 20px;
}

/*MainSeller Component*/
.mainSeller {
    width: 75%;
    max-width: 800px;
    min-width: 500px;
    min-height: 100%;

    border-radius: 5%;
    border: solid black 2px;
    padding: 10px;

    text-align: center;

    /*background-color: #467c9f;*/
    background: url("../images/a.jpeg");
}

.mainSeller img {
    width: 100%;
    height: 350px;

    border-radius: 5%;
}

/*Shop Our Collection Button*/
.shopCollection {
    width: 250px;

    border: solid black 5px;
    border-radius: 5%;

    margin: 0 auto;

    background-color: #492e69;
}

.shopCollection p {
    color: white;
    font-size: 20px;
}

/*Shopping Page*/





