.mainContainer {
    width: 100%;
    height: 100%;
    margin: 25px auto 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.pokemon {
    width: 200px;
    height: 350px;

    border-radius: 10%;
    border: black solid 2px;
    text-align: center;

    background: url("../images/a.jpeg");
}

.pokemon img {
    width: 125px;
    height: 125px;
}

/*Add To Cart*/
.addToCart {
    margin: 10px 10px 0 10px;
    border-radius: 5%;

    color: white;
    background-color: #492e69;
}

.addToCart:hover {
    background-color: #492e69;
    transform: scale(1.1);
}